<h1 class="mt-4">Thank you for your order</h1>
<p>Return to the home page to continue shopping</p>
<a href="/dashboard" class="btn btn-secondary" style="background-color: cornflowerblue;">Dashboard</a>
